---
import Layout from '@/layouts/Layout.astro';

import About from '@/components/About.astro';
import Education from '@/components/Education.astro';
import Experience from '@/components/Experience.astro';
import Header from '@/components/Header.astro';
import Projects from '@/components/Projects.astro';
import Certificates from '@/components/Certificates.astro';
import Skills from '@/components/Skills.astro';
import KeyboardM from '@/components/KeyboardM.astro';
import Languages from '@/components/Languages.astro';

import { basics } from "resume.json"

const { name, label } = basics
---

<Layout title={`${name}'s portfolio - ${label}`}>
	<main>
		<Header />
		<About />
		<Education />
		<Experience />
		<Projects />
		<Certificates />
		<Skills />
		<Languages />
	</main>
	<KeyboardM />
</Layout>

<style>
	main {
		padding: 2.2rem 2.3rem;
		margin: auto;
		width: 100%;
	}

	@media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
